<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <form #criarContaForm="ngForm" (ngSubmit)="criarConta(criarContaForm.value)">
        <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
        <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
        <ion-button color="light" slot="start">Voltar</ion-button>
        <ion-button color="light" slot="start" type="submit">Cadastrar</ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <form #loginForm="ngForm" (ngSubmit)="realizarLogin(loginForm.value)">
        <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
        <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
        <ion-button color="light" slot="start" type="submit">realizarLogin</ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <form #inserirAlunoForm="ngForm" (ngSubmit)="inserirAluno(inserirAlunoForm.value)">
        <ion-input label="Usuário" name="nome" ngModel type="text"></ion-input>
        <ion-button color="light" slot="start" type="submit">Inserir Aluno</ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <ion-row>
        <ion-col size="12">
          <ion-button color="light" expand="block" (click)="listarAluno()">Listar Aluno</ion-button>

          <ng-container *ngFor="let aluno of this.alunos">
            <h1>Nome: {{aluno['nome']}}</h1>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <form #consularForm="ngForm" (ngSubmit)="consultarAluno(consularForm.value)">
        <ion-label>Consultar Aluno</ion-label>
        <ion-input label="Usuário" name="nome" ngModel type="text"></ion-input>
        <ion-button color="light" slot="start" type="submit">Consultar Aluno</ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <form #atualizarAluno="ngForm" (ngSubmit)="atualizarDados(atualizarAluno.value)">
        <ion-label>Atualizar Aluno</ion-label>
        <ion-input label="Usuário" name="nome" ngModel type="text"></ion-input>
        <ion-button color="light" slot="start" type="submit">Consultar Aluno</ion-button>
      </form>
    </ion-col>
  </ion-row>

</ion-content>